html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $fuente_principal;
  font-size: 1.6rem;
  font-weight: $medium;
  line-height: 2.194rem;
  background: $degradadoPrincipal;
  color: $blanco;
  position: relative;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  
}

.glass {
  background:hsla(0,0%,91%,.1);
  border-radius:12px;
  box-shadow:10px 10px 10px 10px #0000002e;
 
 }
 
a {
  text-decoration: none;
}

.card {
  padding: 1.7rem 2.2rem;
  background-color: $blanco;
  border-radius: 1.2rem;
  margin-bottom: $separacion;
  &.card-title {
    margin-bottom: 1.6rem;
  }
}

img,
picture {
  width: 100%;
  display: block;
  border-radius: 1.2rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  overflow-wrap: break-word;
}

.icon::before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: $blanco;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

[id]{
  scroll-margin-top: 8rem;
  
}