/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}){
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet}){
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$laptop}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}
@mixin desktop-grid {
    @media (min-width: #{$desktop-grid}){
        @content;
    }
}

@mixin boton($bgColor,$color,$display){
    background-color: $bgColor;
    color: $color;
    font-weight: $medium;
    text-decoration: none;
    padding: 1.2rem 3.9rem;
    text-align: center;
    display: $display;    
    border: 1px solid $azul;    
    overflow-wrap: break-word;
    border-radius: 1.2rem;
    &:hover {
        background-color: darken($bgColor,5);
        cursor: pointer;
    }
}
