.azul{
    background: $degradadoPrincipal;
    @media (max-width: 767px) {
        .navegacion {
            background: $degradadoPrincipal;
        }
    }
}
.pulpura{
    background: $degradadoP1;
    
    header{
        background: $verde;
        @media (max-width: 767px) {
            .navegacion {
                background: $degradadoP1;
            }
        }
    }
    .informacion .informacion-right h1{
        background: $verde;
        -webkit-background-clip: text;
    }
    button{
        background: $verde;
    }
    .contacto .container .contactame {
        h2 {
            background: $verde;
            -webkit-background-clip: text;
        }
    }
    main .container .proyectos{
        h2{
            background: $verde;
            -webkit-background-clip: text;
        }
        .proyectos-pages p{
            background: $verde;
            -webkit-background-clip: text;
        }
    } 
    .proyectos{
        h2{
            background: $verde;
        }
        .proyectos-pages{
            p{
                background: $verde;
            }
        }
    }
    footer {
        background: $verde;
        
    }    
}
.rojo{
    background: $degradadoR1;
    @media (max-width: 767px) {
        .navegacion {
            background: $degradadoR1;
        }
    }
}


.dark-mode{
    &.pulpura{
        background: $degradadoP1;
    }
    &.rojo{
        background: $degradadoR1;
    }
    &.azul{
        background: $degradadoPrincipal;
    }
    &::before{
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        
    }
    @media (max-width: 767px) {
        .navegacion {
            &::before{
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background: rgba(0, 0, 0, 0.2);
                z-index: -1;
            }
        }
    }
}
