@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

//Fuente
$fuente_principal: 'Montserrat', sans-serif;

//Tamaño de Media Queries
$telefono: 480px;
$tablet:768px;
$laptop:992px;
$desktop:1024px;
$desktop-grid:1160px;

//Colores
$gris: #4F4F4F;
$blanco: #FFFFFF;
$azul: #2F80ED;
$plomo: #828282;
$grisOscuro: #333333;
$grisClaro: #C4C4C4;
$negro: #000000;
$colorBlog: #E0E0E0;
$bodyBackground: #F2F2F2;


//separaciones
$separacion:4.483rem;

//Fuentes
$medium:500;
$semiBold:600;
$bold:700;
