@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

//Fuente
$fuente_principal: 'Montserrat', sans-serif;
$fuente_titulos: 'Oxygen', sans-serif;

//Tamaño de Media Queries
$telefono: 480px;
$tablet:768px;
$laptop:992px;
$desktop:1024px;
$desktop-grid:1160px;

//Colores

$blanco: #FFFFFF;
$grisOscuro: #333333;
$verde:#60AB60;
$degradadoPrincipal: linear-gradient(90deg, #4B79A1 0%, #283E51 100%);
$degradadoSecundario: linear-gradient(90deg, #FFB75E 0%, #E6A038 100%);
$degradadoP1: linear-gradient(90deg, #574BA1 0%, #332851 100%);
$degradadoR1: linear-gradient(90deg, #A14B4B 0%, #512828 100%);
$glasscolor:rgba(233, 233, 233,0.1);


//Separacioens
$separacion:4.483rem;

//Fuentes
$medium:500;
$semiBold:600;
$bold:700;
